@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --main-background: 240, 6%, 3%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer components {
  .prose-container {
    @apply w-full max-w-full;
  }

  .prose-container pre {
    @apply w-full max-w-full overflow-x-auto;
  }

  .prose-container code {
    @apply whitespace-pre-wrap break-words;
  }
}

::selection {
  background-color: rgb(0, 112, 243);
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: hsl(var(--muted)) !important;
}

/* * {
  cursor: none !important;
}

html,
body {
  scroll-behavior: smooth;
  cursor: none !important;
} */

img,
image {
  user-select: none;
  pointer-events: none;
}

a,
button,
input,
textarea,
select,
label,
option {
  /* cursor: none !important; */
}

.flare {
  position: fixed;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999999 !important;
  backdrop-filter: blur(1px);
  background-color: #0000005e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
}

.inner {
  border-radius: 7px;
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover>.inner {
  background: rgb(26, 26, 26, 0.6);
  backdrop-filter: blur(80px);
}

/* Loader */
.loader {
  --uib-size: 45px;
  --uib-color: #000;
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 4) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 404 */
.custom-shadow {
  box-shadow: rgba(59, 130, 246, 0.3) 5px 5px;
}

/* Wave hand */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

/* Float animation hand */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  /* 
    - 8s is the duration (adjust as needed)
    - cubic-bezier gives us the easing effect:
      - faster going down (0.4, 0)
      - slower coming up (0.2, 1)
    - infinite makes it loop forever
  */
}

.float2-animation {
  animation: float2 20s cubic-bezier(0.3, 0, 0.2, 1) infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Button */
.btn-primary {
  box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 0.28),
    rgba(59, 130, 246, 0.5) 0px 0.48175px 2.40875px -0.833333px,
    rgba(59, 130, 246, 0.5) 0px 1.83083px 9.15413px -1.66667px,
    rgba(59, 130, 246, 0.5) 0px 8px 40px -2.5px,
    rgba(59, 130, 246, 0.5) 0px -0.48175px 2.40875px -0.833333px,
    rgba(59, 130, 246, 0.5) 0px -1.83083px 9.15413px -1.66667px,
    rgba(59, 130, 246, 0.5) 0px -8px 40px -2.5px;
}